<h3>Comments</h3>
<% @post.comments.each do |comment| %>
  <div class="card mt-3">
    <div class="card-body">
      <h5><%= comment.username %>:</h5>
      <p><%= comment.body %></p>
      <%= link_to '[X]', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
<% end %>